body {
    background: white;
    height: 100%;
    display: grid;
    margin: 0 auto;
    justify-content: center;
}

 main {
    display: grid;
    grid-template-columns: 175px 540px 115px;
    width: 870px;
}

main, section, div {
    border: solid 1px black;
}

.left {
    display: grid;
    grid-template-rows: 40px 40px 30px 100px 200px 200px; 
    grid-gap: 20px;
}

.center {
    display: grid;
    grid-template-rows: 70px 1fr;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}